:root {
    --orange: #D09000;
    --gray: #B0B0B0;
    --black: black;
    --blue:#006699;
    --green: #CCCC66;
  }
@media all and (min-width: 768px){
    header{
        height: 100px;
        align-items: center;
    }
    .header-right{
        width: 50%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .navbar .btn{
        color: #fff;
        text-align: center;
    }
    .navbar a{
        flex-basis: 20%;
    }
    .menubar{
        display: none;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .list-card{
        grid-template-columns: 49% 49%;
    }
    footer{
        display: grid;
        grid-template-columns: 48% 48%;
    }
    .footer-item img{
        width: 100%;
        height: 50%;
    }
    .container{
        padding: 0 15px;
    }
}
